[submodule "thirdparty/libjpeg-turbo"]
	path = thirdparty/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "thirdparty/soloud"]
	path = thirdparty/soloud
	url = https://github.com/shartte/soloud.git
[submodule "thirdparty/zlib-ng"]
	path = thirdparty/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
