
#include "resource.h"

1 ICON "app.ico"

// Include the public certificate used to sign the MSIX packages
RES_CERT RCDATA "OpenTemplePrerelease.cer"

// Limited to 1024 characters
STRINGTABLE
BEGIN
IDS_INSTALLER_URL "ms-appinstaller:?source=https://nightlies.opentemple.de/windows/OpenTemple.appinstaller"
END
